body {
    margin: 20px;
}
.debug-dotted {
    border: 1px dotted blue;
}
.avatar {
    width: 150px;
}
.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
}