* {
    margin: 0;

}

body {
    background-image: url('./snow.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2 {
    color: brown;
    border: 1px solid brown;
    background-color: wheat;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 2px;
}

button {
        background-color: brown;
    color: wheat;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 2px;
    border: 1px solid wheat;
}
#save-btn {
    margin-top: 1rem;
    background-color: green;
}