body {
    margin: 20px;
}
:root {
    --one-black: #2b2839;
    --one-blue: #ddebf8;
    --one-purple: #d8cefe;
}
.debug-dotted {
    border: 1px dotted blue;
}
.avatar {
    width: 150px;
}
.card {
    color: var(--one-black);
    background: var(--one-blue);
    border-bottom: var(--one-purple) 8px solid;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
