.main {
    margin-top: 100px;
}

.logo-img {
    width: 300px;
    margin: 0 auto 20px;
}
.search-input {
    width: 400px;
    line-height: 24px;
    margin: 0 auto;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.logo-img, .search-input {
    display: block;
}